<div class="container-fluid">
  <div class="row">
    <div class="col-6 mx-auto">
      <div class="card">
        <div class="card-header">
          {{formTab[param1[1]].topic}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{formTab[param1[1]].lastName}}</h5>
          <p class="card-text">{{formTab[param1[1]].observation}}</p>
          <a href="#!/" class="btn btn-warning">Retour</a>
        </div>
        <div class="card-footer text-muted text-right">
          {{formTab[param1[1]].date}}
        </div>
      </div>
    </div>
  </div>
</div>
